<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/market"
        android:label="PharmaDZ"
        android:roundIcon="@drawable/market"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".pharmacieProfile"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".AddMedicamentActivity"
            android:exported="true"/>

        <activity
            android:name=".ProduitsActivity"
            android:exported="true"/>

        <activity
            android:name=".tratmentActivity"
            android:exported="true"/>

        <activity
            android:name=".DashboardActivity"
            android:exported="true"/>


    </application>

</manifest>